@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@800&display=swap');
body{
    margin: 0;
    padding: 0;
}

html {  
    scroll-behavior: smooth;  
}

h1{
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    margin-top: 3%;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

/* Header Section Properties */

.header-section{
    background-color:#fbf7ea;
    height: 400px;
}

.header{
    color:#73c196;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 350px;
}

.container{
    margin: 0% 10%;
}

.header-text{
    margin-top: 3%;
    width: 700px;
}

.dog-text{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.title{
    font-family: 'Poppins', sans-serif;
    color:  #fbbd13;
    font-size:40px;
    padding-top: 2%;
    margin-bottom: 3%;
}

#dog-img{
    width:250px;
    height: 280px;
    border-radius:10%;
    border: 10px solid #fbbd13;
    text-decoration: none;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,.3);
}

/* Name Input Section Properties */

.name-input-section{
    background-color: #73c196;
    height: 320px;
}

.name-input{
    padding-top: 3%;
    color:#fbf7ea;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: 30px;
    text-transform: uppercase;
}

#name{
    text-decoration: none;
    margin-top: 2%;
    border-radius: 26.25em;
    border: none;
    width: 20em;
    height: 3.25em;
    background-color: #fbf7ea;
    text-align: center;
    color: #73c196;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}

#name:focus {
    border: 5px solid rgb(218, 218, 218);
}

#get-predictions-btn{
    background-color: #fbbd13;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 21px;
    font-weight: 700;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: #fbf7ea;
}

#get-predictions-btn:hover:not(:disabled){
    filter: brightness(1.1);
}

/* Predictions Section Properties */

#predictions-section{
    background-color: #fbbd13;
    height: fit-content;
    display: none;
}

#fname{
    text-transform: capitalize;
}

.predictions-types{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.prediction-icon{
    font-size: 120px;
    color: #fbf7ea;
    margin: 0%;
}

#prediction-title{
    color: #fbf7ea;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.prediction-result{
    color: #fbf7ea;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

#footer{
    height:50px;
    background-color: #fbf7ea;
}